<!-- Application root  -->
<div class="newCard">	
	<%= render("form") %>
</div>

<!-- after creation from root -->
<div class="showAjax">  

</div> 

<!-- Edit card  -->
<div class="editCard">

</div> 

<!-- Index card -->
<div class="indexCard">

</div> 

<!-- New form Product from Index -->
<div class="newFormFromIndex">

</div> 

<!--  <div class="destroy">
	
</div>  -->